@tailwind base;
@tailwind components;
@tailwind utilities;

$font-family : 'WorkSans';

html {
    scrollbar-width: none;
    // -ms-overflow-style: none;
  }
  
html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {     
    // overflow: none;
    filter: drop-shadow(0 0 10px white);
    // color: white !important;

}

.v-main__wrap{
    background-color: #010101;
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding-bottom: 24px;
    @media (min-width: 768px){
        border-radius: 16px!important;
    }
}

.v-navigation-drawer__border {
    width: 0px !important;
}

.v-application {
    [class*='text-'] {      
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
}

.flex1 {
    flex:1 !important;
}

.v-navigation-drawer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.v-select__selections {
    color: white !important
}

.v-input__slot:before{
    border-color: rgba(255, 255, 255, 0.4) !important    
}

.v-input__slot:after{
    border-color: #00C6ED !important    
}

::placeholder {
    color: white !important
}
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    color : #ffffff !important;
    font-size: 12px;
}
.v-input--selection-controls__input .v-icon{
    color: #00C6ED!important;
}
.mdi-menu-down::before{
    color: #00C6ED !important
}

.v-application .primary--text {
    color: #00C6ED !important
}

.walletconnect-modal__mobile__toggle a{
    color: black;
}
.v-input--selection-controls {
    margin-top: 0px !important;
}

@media (min-width: 768px){
    .v-main__wrap{
        border-radius: 16px!important;
    }
}
@media (max-width: 768px){
    .v-dialog__content{
        align-items: baseline !important;
        margin-top: 150px;
        height: unset!important;
    }
}